body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 100% 400%;
  animation: gradient 90s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*  TEXT  */

h1 {
  text-align: left;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  color: white;
}


p.three {
  border-style: dotted;
  border-width: 2px;
}

p.four {
  border-style: dotted;
  border-width: thick;
}

p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  p.dashed {border-style: dashed;}
  font-family: "Lucida Console", "Courier New", monospace;
}

/*  LINKS  */

a {
  color: hotpink;
  hover-color: black;
}

a:link {
  background-color: white;
  text-decoration: none;
}


/*  LIST - MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  style: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover, {
  background-color: hotpink;
  color: white;
}
a:active {
  background-color: hotpink;
  color: gray;
}
