#body {
#  background-color: LightGray	;
#    margin-left: 20px;
##    font-family: "Lucida Console", "Courier New", monospace;
#}

@keyframes color {
  0%   { background: ; }
  20%  { background: gray; }
  40%  { background: LightGray; }
  60%  { background: #FCCA00; }
  80%  { background: gray; }
  100% { background: LightGray; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 40s infinite linear;
  text-align: left;
  padding: 1em;
  padding-left: 1em;
  font-family: 'Kavoon', sans-serif;
  font-size: 1.5em;
}
h1 {
  text-align: center;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  color: white;
}





p.three {
  border-style: dotted;
  border-width: 2px;
}

p.four {
  border-style: dotted;
  border-width: thick;
}

p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  p.dashed {border-style: dashed;}
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
  color: hotpink;
  hover-color: black;
}

a:link {
  background-color: white;
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  style: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover, a:active {
  background-color: hotpink;
  color: white;
}
